<app-nav-bar></app-nav-bar>
<div class="container search-component">
  <div class="row">
    <div class="search-container">
      <input
        [(ngModel)]="searchInput"
        class="search-input"
        type="text"
        placeholder="Search"
      />
      <button class="search-button" (click)="search()">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </div>

    <section class="search-result">
      <div class="search-result-container">
        <a
          *ngFor="let article of articles"
          [routerLink]="['/article/' + article.id]"
          routerLinkActive="active"
        >
          <app-article-card [article]="article"></app-article-card>
        </a>
      </div>
      <div class="discover-more-container">
        <h3 class="discover-title">DISCOVER MORE OF WHAT MATTERS TO YOU</h3>
        <div class="tag-buttons">
          <button class="tag-button">Test 1</button>
          <button class="tag-button">Lfdslfs sdf</button>
          <button class="tag-button">fdsfdsf sd</button>
          <button class="tag-button">Tfdsgh werwer</button>
          <button class="tag-button">Tfdsf</button>
          <button class="tag-button">Kfisdj fsd</button>
          <button class="tag-button">Fsdf fsd</button>
          <button class="tag-button">Fsdf fd</button>
        </div>
      </div>
    </section>
  </div>
</div>
