<div class="card">
  <img
    src="https://wallpapercave.com/wp/3a0T946.jpg"
    alt="img"
    class="card-image"
  />
  <div class="card-content">
    <h3 class="card-content__title">Test title</h3>
    <p class="card-content__description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias quas quae
      voluptatum sed perspiciatis qui.
    </p>
    <span class="card-content__date">09/05/2015</span>
    <span class="card-content__separator">.</span>
    <span class="card-content__author">MrKonstantinSh</span>
  </div>
</div>
