<div class="container">
  <div class="row">
    <section class="sign-in-menu">
      <a [routerLink]="['/']" routerLinkActive="active"
        ><h1 class="sign-in-logo">DevToDev</h1></a
      >
      <div class="sign-in-menu__item">
        <label class="sign-in-menu__label">New to DevToDev?</label>
        <button
          class="sign-in-menu__button"
          [routerLink]="['/sign-up']"
          routerLinkActive="active"
        >
          Sign Up
        </button>
      </div>
    </section>
    <main class="sign-in-form">
      <h2 class="sign-in-form__title">Sign In</h2>
      <div class="form">
        <div class="form-item">
          <label class="form-item__label">Email Address</label>
          <input type="email" class="form-item__input" />
        </div>
        <div class="form-item">
          <label class="form-item__label">Password</label>
          <input type="password" class="form-item__input" />
        </div>
        <button class="form__button">Sign In</button>
      </div>
    </main>
    <section class="sign-in-footer">
      <p class="sign-in-footer__text">© 2021 DevToDev All Rights Reserved</p>
    </section>
  </div>
</div>
