<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="row">
    <h1 class="title">Your articles</h1>
    <div *ngIf="articles.length == 0" class="not-found">
      <i class="fa fa-search fa-4x" aria-hidden="true"></i>
      <p>You haven't written any articles :(</p>
    </div>
    <section *ngIf="articles.length > 0" class="your-articles">
      <app-article-card
        *ngFor="let article of articles"
        [article]="article"
      ></app-article-card>
    </section>
  </div>
</div>
