@font-face {
  font-family: Roboto;
  src: url(/assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Monoton;
  src: url(/assets/fonts/Monoton-Regular.ttf);
}

html,
body {
  display: block;
  min-width: 300px;
  font-size: 14px;
  font-family: Roboto;
  background-color: #ffffff;
}
