.sign-up-container {
  width: 20%;
  height: auto;
  margin: 4rem auto 0 auto;
  padding: 1rem 5rem;
}

.sign-up-logo {
  margin: 0;
  text-align: center;
  font-size: 2rem;
  font-family: Monoton;
  font-weight: 100;
  color: #333c48;
}

.sign-up-form {
  margin: 4rem 0 0 0;
}

.sign-up-form__title {
  margin: 0;
  font-size: 1.75rem;
  font-family: Roboto;
  color: #333c48;
}

.form {
  margin: 2rem 0 0 0;
}

.form-item {
  margin: 0 0 1rem 0;
}

.form-item__label {
  font-size: 1.1rem;
  font-family: Roboto;
  color: #333c48;
}

.form-item__input {
  width: calc(100% - (2 * 0.75rem + 2px));
  margin-top: 0.25rem;
  padding: 0.75rem;
  border: 1px solid #dbdad7;
  border-radius: 5px;
  font-size: 1.1rem;
  font-family: Roboto;
  color: #333c48;
}

.form-item__input:focus {
  border-color: #255ce9;
  outline: 0;
  box-shadow: 0 0 0 0.1rem #dce6fc;
}

.form__button {
  width: 100%;
  margin-top: 1rem;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  font-family: Roboto;
  color: #ffffff;
  background-color: #2db52b;
  cursor: pointer;
}

.form__button:hover {
  outline: none;
  background-color: #28b026;
}

.form__button:focus {
  box-shadow: 0 0 0 0.15rem rgb(50 186 48 / 30%);
}

.form__button:focus-visible {
  outline: none;
}

.form-footer {
  margin: 1.5rem auto;
  text-align: center;
}

.form-footer__label {
  font-size: 1.1rem;
  font-family: Roboto;
  color: #333c48;
}

.form-footer__link {
  margin-left: 0.5rem;
  font-size: 1.1rem;
  font-family: Roboto;
  outline: none;
  color: #255ce9;
  cursor: pointer;
}

.form-footer__link:hover {
  color: #0239c6;
}

.sign-up-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
}

.sign-up-footer__text {
  margin: 0;
  width: 90%;
  margin: 0 auto;
  padding: 31.5px 0;
  text-align: center;
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .sign-up-container {
    width: 30%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .sign-up-container {
    width: 40%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .sign-up-container {
    width: 60%;
  }
}

@media (max-width: 480px) {
  .sign-up-container {
    width: 90%;
    margin: 1rem auto 0 auto;
    padding: 0;
  }

  .sign-up-form {
    margin: 2rem 0 0 0;
  }

  .sign-up-form__title {
    font-size: 1.5rem;
  }
}
