.search-container {
  display: flex;
  width: 100%;
}

.search-input {
  float: left;
  width: calc(100% - (2 * 0.75rem + 2px + 40px));
  padding: 0.75rem;
  border: 1px solid #dbdad7;
  border-radius: 5px 0px 0px 5px;
  font-size: 1.1rem;
  font-family: Roboto;
  color: #333c48;
}

.search-input:focus {
  border-color: #255ce9;
  outline: 0;
  box-shadow: 0 0 0 0.1rem #dce6fc;
}

.search-button {
  float: right;
  width: 40px;
  height: 42px;
  border: 1px solid #dbdad7;
  border-left: none;
  border-radius: 0px 5px 5px 0px;
  background-color: transparent;
  outline: 0;
  cursor: pointer;
  color: #dbdad7;
}

.search-button:hover {
  color: #333c48;
}
